.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fdfbfb;
}

/* .iconscontaine{
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
} */

.registerTitle {
  font-size: 50px;
}

.registerForm {
  width:50%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  width: 60%;
  margin-top: 50px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
  align-self: center;
}

.registerLoginButton {
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}