.write {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* width: 1200px; */
    /* justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    align-self: center; */
  }
  
  .writeImg {
    /* margin-left: 130px; */
    /* flex: 12; */
    
    height: 300px;
    width: 1000px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .writeForm {
    margin-top: 10px;
    margin-bottom: 75px;
    position: relative;
    /* margin-left: 250px; */
  }
  
  .writeFormGroup {
    /* margin-left: 100px; */
    /* width: 80vh; */
    margin-bottom: 25px;
    display: flex;
    align-items: center;
  }

  .fontBlog{
    font-size: 25px;
    letter-spacing: 0.15rem;
    word-spacing: 0.4rem;
    margin-left: 7px;
    font-weight: lighter;
    font-family: 'Teko', sans-serif;
  }
  
  .writeIcon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(129, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .writeInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 935px;
    /* width: 18rem; */
  }
  
  .writeInput::placeholder {
    color: rgb(189, 185, 185);
    font-weight: 400;
  }
  
  .writeInput:focus {
    outline-style: none;
  }
  
  .writeText {
    /* margin-left: 10rem; */
    /* flex: 12; */
    /* margin-top: 5rem; */
    /* width: 120vh; */
    /* height: 350px; */
    font-family: inherit;
    font-size: 1rem;
  }
  
  .writeSubmit {
    position: absolute;
    top: 20px;
    right: 25px;
    color: rgb(233, 231, 231);
    background-color: #b77f72;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }